@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* Example styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1f26;
    font-family: 'Mulish', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 20px 120px;
}
.header-container.d-flex {
    width: 1600px;
    margin: 0 auto;
}
.container-three {
    width: 1600px;
    margin: 0 auto;
}
.container-three .title{
    padding-top: 114px;
    padding-bottom: 50px;
}
.container {
    width: 1442px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.m-90 {
    margin-top: 90px !important;
    margin-bottom: 40px !important;
}
.fixed-header {
    top: 0;
    left: 0;
    /* width: 100%; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); Optional: Add a shadow effect */
    z-index: 1000; /* Ensure the header is above other content */
}
section#kykk {
    margin-top: 130px;
}
/* Adjustments to the logo and menu styles can go here */

.logo img {
    max-width: 220px
}

.menu ul {
    list-style: none;
    display: flex;grid-gap: 48px
}

.menu a {
    color: #FFF;
    font-size: 18px;
}


nav ul {
    list-style: none;
}
a.gradient-button:hover {
    background: linear-gradient(90deg, #f71d0a30 0%, #f00b5d52 100%);
    transition: 0.5s;
}

.gradient-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(90deg, #F71D0A 0%, #F00B5D 100%);
    border-radius: 50px;
    /* Add vendor prefixes for broader browser support */
}
.back-img{
    background-image: url(../img/background.svg); /* Replace with your image path */
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;

}
.home-section {
    display: flex;
    flex-flow: column;
    position: relative;
}

.content {
    text-align: left;
}

.content h1 {
    color: #FFF;
    font-family: Mulish;
    font-size: 100px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-right: 291px;
}
.content p {
    color: var(--lightBlue, #404250);
    font-family: Mulish;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.305%;
    width: 655px;
    margin-top:30px
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #ff9a9e; /* Button background color */
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #fecfef; /* Change button color on hover */
}

.btn-back-pos {
        padding: 10px 20px;
        font-size: 16px;
        color: #fff;
        background-image: linear-gradient(to right, #f51a13, #f00c58) !important;
        /* position: absolute; */
        left: 0;
        border-radius: 0px 295px 295px 0px;
        width: 1262px;
        height: 474px;
}

.btn-background{
        margin-top: 107px;
}
.btn-background .container{
    display: flex;
    align-items: center;
    font-size: 56px;
    color: #fff;
    justify-content: space-between;
}
.btn-background button{
    background: none;
    border: none;
    cursor: pointer;
}
.text-video img{
    transform: scale(0.75);
    transition: 0.5s;
}
.text-video img:hover{
    transform: scale(1);
    transition: 0.5s;
}
@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.zoom-animation {
    animation: zoomIn 0.3s ease;
}


.three-columns {
    display: flex;
    grid-gap: 78px;
    justify-content: space-between; /* Distributes columns evenly */
}

.column {
    flex: 1;
    padding: 50px;
    background-color: #30313a;
    width: 480px;
    height: auto;
    border-radius: 30px;
}

.column h2 {
    margin-top: 0; /* Remove default margin for the title */
}

.footer-top {
    background-image: url(../img/background.svg);
    height: 365px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 62px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.footer-top h2 {
    margin: 0;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.75px;
}

.footer-top p {
    margin: 25px 0;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.305%;
}

footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 110px
}

footer img:nth-child(1){
    margin-bottom: 35px;
}

.color-32333E{
    color: #32333E;
}
.footer-button{
    border: none;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(90deg, #F71D0A 0%, #F00B5D 100%);
    border-radius: 50px;
    width: 178px;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    margin: 0 0 11px;
}
.linkFooter, .linkFooter a{
    color: #545662;
    text-align: center;
}

.column h4 {
    color: #D9D9D9;
    font-size: 24px;
    margin: 16px 0 0;
    font-weight: 700;
}

.column p {
    color: #545662;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 139.305%; /* 27.861px */
}
.column img{
    width: 46px;
}

.title{
    color: var(--lightBlue, #404250);
text-align: center;
font-family: Mulish;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 139.305%; /* 41.791px */
}

.p-link {
    margin-left: 21px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 139.305%;
}
.btn-omotun{
    width: 235px !important;
    display: block;
    text-align: center;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.col-img img{
    width: 522px;
    height: 946px;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
    cursor: pointer;
    font-size: 24px;
}

#player {
    width: 80%; /* Adjust width as needed */
    height: 60vh; /* Adjust height as needed */
}

.active-link {
    color: #545662 !important;
}

.mobil-menu{
    display: none;
}
.close-menu{
    display: none;
}
.menu a:hover {
    color: #F00B5D;
    transition: 0.5s;
}

.text-video h4 {
    color: #FFF;
    font-size: 100px;
    font-weight: 500;
    text-align: left;
    margin: 0;
}
.video-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    position: absolute;
    bottom: 100px;
}
@media screen and (min-width: 3000px) {
    .btn-back-pos {
        width: 1690px;
    }
    .video-con {
        width: 28%;
    }
}
@media screen and (max-width: 3000px) {
    .btn-background button {
        width: 58%;
    }
    .video-con {
        width: 30%;
    }
}
@media screen and (max-width: 1600px) {
    .container-three {
        width: 98%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1200px) {
    .btn-background button {
        width: 100%;
    }
    .container {
      width: 98%;
    }
    .btn-back-pos {
        width: 100%;
    border-radius: 0;
    }
    .text-video {
        padding: 12px;
    }

    .text-video h4 {
        padding: 0 !important;
    }
  }
@media screen and (max-width: 1177px) {
    .btn-background {
        width: 100%;
    }
  }
@media screen and (max-width: 943px) {
    .btn-back-pos {
        width: 100%;
    }
  }
@media screen and (max-width: 780px) {
    .back-img{
        top: -174px;
        height: 90vh
    }
    .container-three .title {
        padding-top: 80px;
    }
    .home-section {
        padding-bottom: 0 !important;
    }
    .content h1 {
        padding-right: 0;
    }
    .video-con {
        width: 100%;
        bottom: 34px;
        left: 0;
    }
    .text-video h4 {
        font-size: 49px;
        padding-left: 20px !important;
    }
    .text-video {
        padding: 0;
    }
    .btn-background {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .video-con img {
        width: 20%;
        padding-right: 12px;
    }
    .column {
        width: 100%;
        padding: 0px;
    }

    .column img {
        width: 46px;
        padding: 50px 50px 0;
    }
    .column h4{
        padding: 0px 50px 0;
    }
    .column p{
        padding: 0px 50px 50px;
    }
}
@media screen and (max-width: 780px) {
    .content h1 {
        text-align: center;
    }
    .column-lists {
        width: 100% !important;
        height: 220px !important;
        background: #17171d;
        border-radius: 20px;
    }
    .containers {
        width: 100% !important;
    }
    .btn-omotun {
        margin: 0 auto;
    }
    .col-img img {
        width: 50%;
        height: auto;
    }
    .content p {
        text-align: center;
    }
    .home-section {
        padding: 29px 0;
    }
    .home{
        padding: 0 !important;
    }
    .three-columns {
        flex-flow: column;
    }
    .btn-background h4 {
        font-size: 64px;
        padding-left: 30px;
    }
    .btn-background {
        margin-top: 41px;
    }
.home-section {
    display: flex;
    flex-flow: column;
    height: auto;
    align-items: center;
    justify-content: center;
}
    .containers {
        grid-template-columns: 1fr !important;
    }
    .popup-page {
        max-width: 70% !important;
    }  
    .btn-background button img {
        width: 25%;
        margin-right: 0;
    }
    .container.text-video img {
        width: 14%;
    }
    .btn-back-pos {
        height: 180px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn-background .container{
        justify-content: center;grid-gap: 30px;padding: 0;
    }
}
@media screen and (max-width: 740px) {
    #about h2 {
        font-size: 38px !important;
    }
    .col-md-2 {
        flex-flow: column-reverse;
    }
    #about {
        margin-top: 58px !important;
    }
    #about .col-2 {
        text-align: center !important;
    }
    .close-menu{
        display: none;
    }
.mobil-menu{
    display: block;
}

.mobil-menu img, .close-menu img {
    position: absolute;
    right: 24px;
    width: 8%;
    top: 16px;
}
    .fixed-header {
        padding: 0 !important;
        height: 46px;
    }
    .logo img {
        max-width: 140px;
    }
    

    .footer-top {
        padding: 0 30px;
        text-align: center;
    }
    .logo {
        padding: 18px 0 0;
    }
    header .d-flex {
        justify-content: center;
    }
    .content h1 {
        margin: 0;
        width: 100%;
        font-size: 46px;
    }
    .content p {
        font-size: 1.2em;
        width: 100%;
    }
    #about p{
        font-size: 20px !important;
    }
    .m-90 {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }
    .p-link {
        text-align: left !important;
    }
    .menu{
        display: none;
        position: absolute;
        top: 68px;
        z-index: 999999;
        left: 0;
        width: 100%;
        background: #22232b;
    }

    .menu ul {
        flex-flow: column;
        width: 100%;
        padding: 0;
        grid-gap: 0px;
    }
    .menu ul li {
        text-align: center;
        padding: 18px 0px;
    }
    .menu ul li:last-child {
        width: 70%;
    margin: 10px auto 16px;
    }
    .menu ul li a {
        color: #fff;
    }
    .menu .gradient-button {
        display: block;
        color: #fff;
        text-align: center;

    }
  }
@media screen and (max-width: 610px) {
    .three-columns {
        flex-flow: column;
    }
    .btn-background h4 {
        font-size: 37px;
    }
  }


  .title-kykk, .title-text{
    color: #F00B5D;

font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;}

  #kykk p {
    color: #fff;
  }

  .col-md-2 {
    display: flex;
    grid-gap: 30px;
  }

  .col-2 {
    flex: 1;
}

#about h2 {
    color: #FFF;
font-size: 60px;
margin: 20px 0;
}
#about p {
    color: var(--lightBlue, #404250);
font-family: Mulish;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 139.305%; /* 41.791px */
}

#about ul, .color-p {
    color: #FFF !important;
font-family: Mulish;
font-size: 20px !important;
font-style: normal;
font-weight: 400;
line-height: 139.305%; /* 27.861px */
}
.title-text-islerimiz {
    padding: 80px 0;
    color: #F00B5D;
    text-align: center;
    font-family: Mulish;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#about{
    margin-top: 15px;
}

.img-contact{
    padding-bottom: 20px;
color: #fff;    display: flex;
    align-items: center;
    grid-gap: 30px;
}

.img-contact a{
    color: #fff;
}

.working-p {
    color: #FFF !important;
    text-align: center !important;
    font-family: Mulish !important;
    font-size: 30px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}

.contact-p {
    color: var(--lightBlue, #404250);
font-family: Mulish;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 139.305%; /* 41.791px */
margin-bottom: 33px;
}
.img-contact a{
    color: #FFF;

font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 139.305%;
}
.containers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 842px;
    margin: 0px auto 0;
}

.column-lists {
    width: 384px;
    height: 476px;
    background: #17171d;
    border-radius: 20px;
}
.title-working{
    color: #FFF;
    font-size: 20px;
    padding: 25px 0 13px;
    display: block;
}
.p-working {
    color: #545662;
    font-size: 14px !important;
    line-height: normal !important;
    margin: 0 !important;
}
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Adjust alignment as needed */
    justify-content: flex-start; /* Adjust justification as needed */
}

.flex-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    /* Additional styling for flex items */
}
.popup-page{ 
    position: absolute;
    max-width: 70%;
    max-height: 80%;
    z-index: 99999;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    background: #fff;
    display: block;
}
.popup-page img {
    width: 100%
}
.popups {
    display: none;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 20;
    /* display: flex; */
    align-items: center;
    justify-content: center;
  }
  a.closeIcons {
    position: absolute;
    color: #fff;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
  #popups:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
  }
  
  #popups:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0000003b;
  }
  


